<div *ngIf="student">
  <hr />
  <label>Id: </label><br />
  <input [(ngModel)]="student.name" placeholder="name"><br />
  <label>Grado: </label><br />
  <textarea [(ngModel)]="student.grade" placeholder="description"></textarea><br />
  <label>Clases: </label><br />
  <input [(ngModel)]="student.clases" placeholder="tipo"><br />
  <label>Price: </label><br />
  <input [(ngModel)]="product.price" placeholder="precio"><br />
  <label>Quantity: </label><br />
  <input [(ngModel)]="product.quantity" placeholder="cantidad"><br />
</div>
